.heading {
    width: 100%;
    float: right;
}

a:link, a:visited {
    background-color: #d83979;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 25px;
  }
  
  a:hover, a:active {
    background-color: rgb(207, 25, 171);
  }

  canvas
{
box-shadow: 10px 10px 10px grey;
border-radius: 10px;
}
